body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px !important;
}

button:hover {
  background: #0056b3;
}

p {
  color: red;
  font-size: 14px;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  align-items: center;
}
.card-section .profile {
 width: 100%;
 
}